*

!/**/
**/node_modules/

!/.github/CODEOWNERS
!/.github/workflows/*.yaml
!/.vscode/settings.json
!/.vscode/extensions.json
!/**/*.md
!/**/*.ts
!/**/deno.json
!/**/deno.jsonc
!/scripts/**/*.sh
!/.coderabbit.yaml
!/.gitignore
!/deno.lock
!/LICENSE
